page-latest {

.late_img
{
  width: 90%;
  height: 90%;
  margin-top: 5px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
}

.late_content
{
  float: left;
  margin: 0;
  background-color: gray;
  background-size: cover;
}

.late_card
{
  width: 47%;
  height: 40%;
  margin: 1%;
  border-radius: 10px;
  background-color:cornsilk;
  float: left;
  text-align: center;
  // background-image: url('../../assets/img/back1.png');
  // background-size: cover;
}

.late_header
{
  border-radius: 10px;
  background-color: burlywood;
  // background-image: url('../../assets/img/back1.png');
  // background-size: cover;
}

}


